*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#000;
position:fixed;
width:100%;
top:0;
}

.logo{
font-size:25px;
font-weight:bold;
color:gold;
}

nav a{
text-decoration:none;
color:white;
margin-left:20px;
transition:.3s;
}

nav a:hover{
color:gold;
}

.inicio{
height:100vh;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1621605815971-fbc98d665033?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.contenido{
max-width:700px;
}

.contenido h1{
font-size:55px;
margin-bottom:20px;
}

.contenido p{
font-size:20px;
margin-bottom:30px;
}

.contenido a{
background:gold;
padding:15px 35px;
text-decoration:none;
color:black;
font-weight:bold;
border-radius:5px;
}

section{
padding:80px 10%;
}

h2{
text-align:center;
color:gold;
margin-bottom:40px;
font-size:35px;
}

.nosotros p{
text-align:center;
max-width:800px;
margin:auto;
font-size:18px;
line-height:30px;
}

.contenedor{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#222;
width:250px;
padding:30px;
border-radius:10px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
background:#333;
}

.card h3{
margin-bottom:15px;
color:gold;
}

.card p{
font-size:20px;
}

.imagenes{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.imagenes img{
width:300px;
height:220px;
object-fit:cover;
border-radius:10px;
transition:.4s;
}

.imagenes img:hover{
transform:scale(1.05);
}

form{
max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:none;
border-radius:5px;
}

textarea{
height:120px;
resize:none;
}

button{
padding:15px;
background:gold;
border:none;
cursor:pointer;
font-size:18px;
font-weight:bold;
border-radius:5px;
}

button:hover{
background:white;
}

footer{
background:black;
padding:20px;
text-align:center;
margin-top:50px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.contenido h1{
font-size:38px;
}

.imagenes img{
width:100%;
}

}